.container{
    width: 100%;
    text-align: center;
}
body{
    background-color: #21243d;
}
h1{
    font-size: 60px;
    color: tomato;
}
p{
    font-size: 40px;
    color: white;
}
input{
    width: 35%;
    height: 35px;
}
button{
    width: 10%;
    height: 50px;
    background-color: tomato;
}
