*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 1300px;
    margin: auto;
}
.header{
    height: 60px;
    background-color: #21243d;

}
.top_menu{
    display: inline-block;

}
.top_menu li{
    display: inline-block;
    line-height: 60px;
}
.top_menu li a {
    color: white;
    text-decoration: none;
    padding: 0 40px;
}
.top_menu li a:hover {
    color: tomato;
    background : wheat;
    display: inline-block;
}

#sub {
    height: 30px;
    width: 100px;
    background-color: tomato;
}

#phone{
    color: white;
    font-size: 26px;
    line-height: 60px;
}

 /*phần banner*/

.banner{
    position: relative;
    padding-top: 50% ;
    background-image: url("slider/mobile_productlist_theearth.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
}
.name_shop{
    position: absolute;
    bottom: 50%;
    left: 25%;
}
.name_shop_text{
    color: #21243d;
    font-size: 90px;
    font-style: italic;
    font-family: fantasy;
}
#color_k{
    color: white;
}
#tieude_1{
    text-align: center;
    background-color: #21243d;
    color: white;
    font-size: 50px;
}

/*phần contnet*/


/*.content{*/
/*    width: 100%;*/
/*    height: 1500px;*/
/*}*/
#content_left{
    width:50%;
    background-color: white;
    float: left;
    height: 1500px;
}
#content_right{
    width: 50%;
    background-color: white;
    float: left;
    height: 1500px;
}

.anh_hove{
    transition: 1s;
    clear: right;
}
.anh_hove:hover{
    width: 400px;
    height: 400px;
}



/*thông tin sản phẩm*/


#tieude_2{
    text-align: center;
    background-color: #21243d;
    color: white;
    font-size: 50px;
}
.thongtin{
    width: 50%;
    height: 500px;
    float: right;

}
.slideShow{
    width: 50%;
    height: 500px;
}
.thongtin p{
    padding-top: 130px;
    font-size: 35px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #21243d;
}
.footer ul li {
    display: inline-block;
}
.footer ul li p {
    font-size: 20px;
    color: white;
    padding: 0 130px;
    text-align: center;
    line-height:50px;
}
button{
    font-size: 25px;
    background-color: tomato;
    cursor: pointer;
}
b{
    font-size: 30px;
}
p{
 font-size: 25px;
}



